<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/4eafc788c0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="nav">
        <ul>
            <li class="home"><a href="/">Home</a></li>
            <li class="rightside"><a href="about.html">About</a></li>
            <li class="rightside"><a href="signup.html">Signup</a></li>
            <li class="rightside"><a class="active" href="login">Login</a></li>
            <li class="rightside"><i class="fas fa-camera"></i></li>
            <li class="rightside"><input type="search" placeholder="Search"></li>
        </ul>
    </header>
    <div class="login">
        <h2>Login</h2>
        <h6>Email</h6>
        <input type="email" placeholder="Email"/>
        <h6>Password</h6>
        <input type="password"/>
        <button type="submit">Login</button>
    </div>
</body>
</html>